[Desktop Entry]
Encoding=UTF-8
Categories=Utility;
Comment=Visualizador e gerador de relatórios
Exec=Group_14_bis
Icon=Group_14_bis
Name=14-Bis
Terminal=false
Type=Application
MimeType=
